<html>
  <head>
    <style>
      * {
        font-family: Arial;
        font-weight: bolder;
        text-align: center;
        align-items: center;
        overflow: none;
      }
      body {
        background-color: greenyellow;
      }
      p {
        font-size: 30px;
        background-color: aqua;
      }
    </style>
  </head>

  <body>
    <br />
    <p>This is an example for Flask app</p>
    <br />
    <img src="{{ url_for('static', filename='carti.jpeg') }}" alt="Carti" />
  </body>
</html>
